@model Person
@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">

	<p>Welcome From<b> Index View </b>of<b> Home Controller </b> </p>
</div> *@

@* <a href="/Home/ReceivedDataByParameter?name=Jack Sparrow&sex=M" class="link-primary">Primary Link</a> *@

@* <form asp-action="ReceivedDataByParameter"> *@
<form method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label>Photo:</label>
		<input type="file" class="form-control" name="photo" />
	</div>
	@* <div class="form-group">
		<label>Sex:</label>
		<select class="form-control" asp-for="sex">
			<option value="M">Male</option>
			<option value="F">Female</option>
		</select>
	</div> *@
	<div class="m-1">
		<button class="btn btn-primary" type="submit">Submit</button>
	</div>
</form>
